<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clawrock_fullstory>
            <general>
                <enabled>1</enabled>
                <fs_org></fs_org>
            </general>
        </clawrock_fullstory>
    </default>
</config>